:local(.main) {
    position: fixed;
    bottom:0;
    left:0;
    height: 95px;
    background-color: #eee;
    width: 100%;
    padding: 10px 30px;
}

:local(.main) .form-control,
:local(.main) .checkbox {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

:local(.main) .form-control.form-control-sm[type="text"] {
    height: auto;
    padding: 4px 8px;
}

:local(.main) .name {
    width: 30%;
}

:local(.main) .value {
    width: 11%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

:local(.main) .value .form-control {
    text-align: right;
    width: 100%;
}

:local(.main) .value button {
    width:42px
}

:local(.main) .buttons-group {
    float: right;
}

:local(.main) .submit {
    padding: 9px 15px;
}

:local(.main) .cancelEdit {
    margin-right: 10px;
    padding: 9px 15px;
}

:local(.main) .category {
    width: 15%;
}

:local(.main) .beneficiars {
    width: 18%;
    display: inline-block;
    vertical-align: middle;
}

:local(.main) .beneficiars .form-control {
    width: 100%;
}

:local(.main) .date {
    width: 150px;
    text-align: center;
}

@media screen and (max-width: 40rem) {
    :local(.main) {
        padding: 10px;
        height: 175px;
    }

    :local(.main) .mobile-row {
        display: block;
        margin-bottom: 10px;
    }

    :local(.main) .name {
        width: 100%;
        margin: 0;
    }

    :local(.main) .category {
        width: 48%;
        margin: 0;
    }

    :local(.main) .value {
        width: 48%;
        float: right;
    }

    :local(.main) .beneficiars {
        display: none;
    }

    :local(.main) .date {
        width: 110px;
    }

    :local(.main) .buttons-group {
        text-align: right;
    }

    :local(.main).edit {
        height: 220px;
    }

    :local(.main).edit .buttons-group {
        float: none;
    }
}